---
import Layout from 'src/layouts/Default/Default.astro';
import PageNavigation from 'src/components/PageNavigation/PageNavigation.astro';

import loadPackages from 'src/packages-loader';

const configPackage = (
  await loadPackages({
    pJsons: await Astro.glob('../../../configs/package.json'),
    readmes: await Astro.glob('/content/packages/configs/README.md'),
    changelogs: await Astro.glob('/content/packages/configs/CHANGELOG.md'),
    anchorMode: false,
  })
).pop();

const titles = {
  main: 'Developers tools',
  sub: "Serious tooling for serious dev's",
};

const actions = [
  {
    title: 'Source',
    href: 'https://github.com/JulianCataldo/web-garden/tree/develop/configs',
    icon: 'mdi:github',
  },

  {
    title: 'Package',
    href: `https://www.npmjs.com/package/${configPackage.pJson.name}`,
    icon: 'mdi:nodejs',
  },
];
---

<Layout titles={titles} actions={actions}>
  <article class="main-content">
    <PageNavigation
      title="Tooling"
      links={configPackage.readme.headers}
      anchorMode={true}
    />

    <div class="content article">
      <div class="wrapper article-body">
        <configPackage.readme.Content />
      </div>
      <!-- <footer>
        <configPackage.changelog.Content />
      </footer> -->
    </div>
  </article>
</Layout>
