---
import MediaMap from '@julian_cataldo/astro-media-map/MediaMap.astro';
import Link from '@julian_cataldo/astro-link/Link.astro';
import LicensesReport from '@julian_cataldo/astro-licenses-report/LicensesReport.astro';

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import LongText from '../components/LongText.astro';
import Image from '../components/Image.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
    <!-- <p class="instructions"></p> -->
    <a href='#' title='Hello!' data-tooltip-placement='left'>Tooltip left</a>
    <ul role='list' class='link-card-grid'>
      <Card href='/page-a' title='Page A' body='Go to page A' />
      <Card href='/page-b' title='Page B' body='Go to page B' />
      <Card href='/page-c' title='Page C' body='Go to page C' />
      <Card href='/page-d' title='Page D' body='Go to page D' />
    </ul>
    <a href='#' title='Hello!' data-tooltip-placement='bottom'>
      Tooltip bottom
    </a>
    <hr />
    <br />

    <h2>Breakpoints</h2>
    ℹ️  <em>Resize window!</em>
    <div>Current : <strong><em class='current-breakpoint'></em></strong></div>
    <textarea id='bp-output'></textarea>

    <h2>Links</h2>
    <ul>
      <li>
        <Link href='/page-a' title='Hello!'>
          Some <strong>internal</strong> link
        </Link>
      </li>
      <li>
        <Link href='https://www.juliancataldo.com' title='Hello!'>
          Some <strong>external</strong> link, loaded in a new tab
        </Link>
      </li>
      <li>
        <Link
          href='https://www.juliancataldo.com'
          title='Hello!'
          externalInNewTab={false}
        >
          Some <strong>external</strong> link, loaded in current tab
        </Link>
      </li>
      <li>
        <Link href='mailto:john.smith@bigcorp.biz' title='Hello!'>
          Some <strong>mail</strong> link (email, telephone)
        </Link>
      </li>
      <li>
        <Link href='tel:8989898989' title='Hello!'>
          Some <strong>telephone</strong> link (email, telephone)
        </Link>
      </li>
    </ul>

    <div class='map-demo'>
      <MediaMap
        x={43.389636}
        y={5.3964332}
        z={11}
        width={'25rem'}
        height={'25rem'}
        attribution={true}
      />
    </div>

    <div class='some-wrapper' data-lightbox='true'>
      <Image />
    </div>

    <LicensesReport />

    <LongText />
    <LongText />
    <LongText />
  </main>
</Layout>

<script>
  import useBreakpoints from '@julian_cataldo/astro-breakpoints/use-breakpoints.ts';

  const bpOutput = document.getElementById('bp-output');
  const randomWords = [
    'Tokyo',
    'Austin',
    'Paris',
    'Ankara',
    'Trifouilly-les-Oies',
    'Bangkok',
    'Mexico',
    'Dresde',
    'Marseille',
  ];
  function outputCurrentBp(currentBp) {
    const index = Math.floor(Math.random() * randomWords.length);
    const rWord = randomWords[index];
    bpOutput.value = `${currentBp} - ${rWord}\n${bpOutput.value}`;
    console.log({ currentBp });
  }
  const currentBp = useBreakpoints(outputCurrentBp);
</script>

<style lang='scss'>
  #bp-output {
    margin: 0.5rem;
    padding: 0.5rem;
    height: 7rem;
    width: 15rem;
  }

  .current-breakpoint {
    font-size: 200%;

    @include breakpoint(xs) {
      &::before {
        content: 'Extra Small';
      }
    }
    @include breakpoint(sm) {
      &::before {
        content: 'Small';
      }
    }
    @include breakpoint(md) {
      &::before {
        content: 'Medium';
      }
    }
    @include breakpoint(lg) {
      &::before {
        content: 'Large';
      }
    }
    @include breakpoint(xl) {
      &::before {
        content: 'Extra Large';
      }
    }
    @include breakpoint(xxl) {
      &::before {
        content: 'Extra Extra Large';
      }
    }
  }

  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }

    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .long-text {
    width: 31rem;
  }

  .map-demo {
    margin: 4rem 2rem;
  }
</style>
