---
import SEO from '@julian_cataldo/astro-seo/SEO.astro';
import Base from '@julian_cataldo/astro-base/Base.astro';
// import Resets from '@julian_cataldo/astro-resets/Resets.astro';
// import LightBox from '@julian_cataldo/astro-lightbox/LightBox.astro';
import Prefetch from '@julian_cataldo/astro-prefetch/Prefetch.astro';
import Tooltips from '@julian_cataldo/astro-tooltips/Tooltips.astro';
import ColorMode from '@julian_cataldo/astro-color-mode/ColorMode.astro';
import Breakpoints from '@julian_cataldo/astro-breakpoints/Breakpoints.astro';
import ScrollObserver from '@julian_cataldo/astro-scroll-observer/ScrollObserver.astro';
import Transition from '@julian_cataldo/astro-transition/Transition.astro';
/* ·········································································· */
import Icon from 'astro-icon';
import Link from '@julian_cataldo/astro-link/Link.astro';
import Landing from 'src/modules/Landing/Landing.astro';
import NavigationBar from 'src/components/NavigationBar/NavigationBar.astro';
import Footer from './Footer.astro';
/* ·········································································· */
import '@fontsource/exo-2/variable.css';
import '@fontsource/exo-2/variable-italic.css';

/* —————————————————————————————————————————————————————————————————————————— */
import { description } from '@julian_cataldo/astro/package.json';
import { dependencies } from 'package.json';
/* —————————————————————————————————————————————————————————————————————————— */

export interface Props {
  titles: { main: string; sub?: string };
  description?: string;
  actions?: { title: string; href: string }[];
}
const props = { ...Astro.props } as Props;
/* ············································ Typeguards + Fallbacks ······ */
if (typeof props?.titles?.main !== 'string') {
  props.titles.main = '';
}

/* —————————————————————————————————————————————————————————————————————————— */

const comboTitle = `${props.titles.main} | ${props.titles.sub} | ${props.titles.main}`;
const generator = `astro-${dependencies.astro}`;
---

<Base
  htmlExtraAttributes={{
    'data-theme': 'default',
    'data-test': 'scrollObserver-rootDoc',
  }}
  htmlId={'test-dummy'}
  bodyClasses={['test-dummy-1', 'test-dummy-2']}
  htmlClasses={['test-dummy-1', 'test-dummy-2', `mode-${import.meta.env.MODE}`]}
>
  <Fragment slot='head'>
    <!-- TODO: Dev / Prod mode for SEO image poster -->
    <SEO
      image={'https://code.juliancataldo.com/poster.png'}
      title={comboTitle}
      description={props.description || description}
      siteName={"Julian's Web Garden"}
    />

    <!-- Extras -->
    <meta name='author' content='Julian Cataldo' />
    <meta name='copyright' content='ISC' />
    <!-- NOTE: this thing is not official, just an experiment -->
    <meta name='generator' content={generator} />
    <!-- /Extras -->

    <Tooltips />

    <Prefetch max={3} />

    <ColorMode />

    <ScrollObserver />

    <!-- FIXME: Disabled, breaks on vite build -->
    <!-- <Resets /> -->

    <!-- TODO: integration -->
    <!-- <LightBox /> -->
    <Favicons />
  </Fragment>

  <Fragment slot='body'>
    <Breakpoints />

    <Transition speed={500} zIndex={99} background={'var(--app-overlay-color)'}
    />
    <!--—————————————————————————————————————————————————————————————————————-->

    <NavigationBar />

    <header>
      <Landing
        title={props.titles.main}
        description={props.titles.sub}
        actions={props.actions}
      />
    </header>

    <main>
      <slot></slot>
    </main>

    <Footer />

<style lang='scss' is:global>
  @import './Default.global';
</style>

<script>
  import './Default.client.ts';
</script>
