---
import SEO from '@julian_cataldo/astro-seo/SEO.astro';
import Base from '@julian_cataldo/astro-base/Base.astro';
// import Resets from '@julian_cataldo/astro-resets/Resets.astro';
// import LightBox from '@julian_cataldo/astro-lightbox/LightBox.astro';
import Breakpoints from '@julian_cataldo/astro-breakpoints/Breakpoints.astro';
import Transition from '@julian_cataldo/astro-transition/Transition.astro';
/* ·········································································· */
import Landing from 'src/modules/Landing/Landing.astro';
import NavigationBar from 'src/components/NavigationBar/NavigationBar.astro';
import Footer from './Footer.astro';
import Head from './Head.astro';
/* ·········································································· */
import '@fontsource/exo-2/variable.css';
import '@fontsource/exo-2/variable-italic.css';
/* —————————————————————————————————————————————————————————————————————————— */

export interface Props {
  titles: { main: string; sub?: string };
  description?: string;
  actions?: { title: string; href: string }[];
}
const props = { ...Astro.props } as Props;
/* ············································ Typeguards + Fallbacks ······ */
if (typeof props?.titles?.main !== 'string') {
  props.titles.main = '';
}
/* —————————————————————————————————————————————————————————————————————————— */
---

<Base
  htmlExtraAttributes={{
    'data-theme': 'default',
    'data-test': 'scrollObserver-rootDoc',
  }}
  htmlId={'test-dummy'}
  bodyClasses={['test-dummy-1', 'test-dummy-2']}
  htmlClasses={['test-dummy-1', 'test-dummy-2', `mode-${import.meta.env.MODE}`]}
>
  <Fragment slot='head'>
    <Head titles={props.titles} />
  </Fragment>

  <Fragment slot='body'>
    <Breakpoints />

    <Transition speed={500} zIndex={99} background={'var(--app-overlay-color)'}
    />
    <!--—————————————————————————————————————————————————————————————————————-->

    <NavigationBar />

    <header>
      <Landing
        title={props.titles.main}
        description={props.titles.sub}
        actions={props.actions}
      />
    </header>

    <main>
      <slot></slot>
    </main>

    <Footer />

<style lang='scss' is:global>
  @import './Default.global';
</style>

<script>
  import './Default.client.ts';
</script>
