---
export interface Props {
  /** Image URL, preferably absolute and 1200x630px */
  image: string;
  title: string;
  description: string;
  siteName: string;
}
const props = Astro.props as Props;
---

<!-- SEO -->
<meta name='mobile-web-app-capable' content='yes' />

<meta name='og:type' property='og:type' content='website' />

<meta name='og:site_name' property='og:site_name' content={props.siteName} />
<meta name='apple-mobile-web-app-title' content={props.siteName} />

<title>{props.title}</title>
<meta name='og:title' property='og:title' content={props.title} />

<meta name='twitter:card' content={props.image} />
<meta name='og:image' property='og:image' content={props.image} />

<meta
  name='og:description'
  property='og:description'
  content={props.description}
/>
<meta name='description' content={props.description} />
<!-- /SEO -->
