---
export interface Props {
  /**
   * Image URL, preferably absolute and 1200x630px  \
   * Used for social networks…
   * */
  image: string;
  /**
   * Used for window / tab title, search engines results, social networks…
   * */
  title: string;
  /**
   * Used for search engines results, social networks…
   * */
  description: string;
  /**
   * Used for Discord, PWA…
   * */
  siteName: string;
}
const props = Astro.props as Props;
/* ———————————————————————————————————————————— Typeguards + Fallbacks —————— */
if (typeof props.image !== 'string') {
  props.image = '';
  console.warn('> Missing `image` property for <SEO>');
}
if (typeof props.title !== 'string') {
  props.title = 'Untitled';
  console.warn('> Missing `title` property for <SEO>');
}
if (typeof props.description !== 'string') {
  props.description = '-> Website <-';
  console.warn('> Missing `description` property for <SEO>');
}
if (typeof props.siteName !== 'string') {
  props.siteName = '• Website •';
  console.warn('> Missing `siteName` property for <SEO>');
}
/* —————————————————————————————————————————————————————————————————————————— */
---

<!-- SEO -->
<meta name='mobile-web-app-capable' content='yes' />

<meta name='og:type' property='og:type' content='website' />

<meta name='og:site_name' property='og:site_name' content={props.siteName} />
<meta name='apple-mobile-web-app-title' content={props.siteName} />

<title>{props.title}</title>
<meta name='og:title' property='og:title' content={props.title} />

<meta name='twitter:card' content={props.image} />
<meta name='og:image' property='og:image' content={props.image} />

<meta
  name='og:description'
  property='og:description'
  content={props.description}
/>
<meta name='description' content={props.description} />
<!-- /SEO -->
